body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-gradient-primary {
	background-color: #4e73df;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#4e73df),to(#224abe));
	background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
	background-size: cover;
}

#logo {
	text-align: center;
}

#logo img {
	max-width: 50%;
	height: auto;
}

.form-control, .input-group-prepend {
	border: 1px solid #aaa;
}

.form-control:focus {
	border-color: #007bff;
}
